<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_s"
        android:label="Strimbula"
        android:roundIcon="@mipmap/launcher_s_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chatroom.ImageTemporaryViewingPrivateChat"></activity>
        <activity android:name=".Terms_of_Use_Activity" />
        <activity android:name=".Data_Policy_Activity" />
        <activity android:name=".Content_Policy_Activity" />
        <activity android:name=".Send_Bug_Report_Activity" />
        <activity android:name=".Imageposts.ImagePostViewing" />
        <activity android:name=".Chatroom.ChatPrivateWithUsers" />
        <activity android:name=".Edit_PC_Activity" />
        <activity android:name=".MySaved_Activity" />
        <activity
            android:name=".Layout_Manager_BottomNav_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Credits_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Textposts.Make_Comment_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Report_TextPost_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".App_Settings_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chatroom.Chatrooms_Post_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.ForgotPassword_Sucess_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.SignUp_Success_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Deleting_Account_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Account_Info_OtherUser_ActivityFromChat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Account_Info_OtherUser_Chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Account_Info_OtherUser_Activity_Users"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Account_Info_OtherUserComments_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Account_Info_OtherUser_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Textposts.Post_Viewing_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Textposts.Upload_TextPost_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Imageposts.Upload_Images_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chatroom.Chat_With_Users_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Change_Password_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Profile_First_Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Profile_Settings_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.Forgot_Password_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_Screen_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountActivities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".Notifications.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING _EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>